<template>
    <div class="container">
        <template v-if="appState === 'loggedOut'">
            <Login />
        </template>
        <template v-if="appState === 'loggedIn'">
            <Setup />
        </template>
        <template v-if="appState === 'gameOfLife'">
            <GameOfLife />
        </template>
    </div>
</template>

<script lang="ts">
import Vue, { defineComponent, ref, Ref } from '@vue/composition-api';
import { StateValue } from 'xstate';

import Login from './pages/login/Login.vue';
import Setup from './pages/setup/Setup.vue';
import GameOfLife from './pages/gol/GameOfLife.vue';
import { gameOfLifeService } from './x-state/service';

export default defineComponent({
    name: 'App',
    components: { Login, Setup, GameOfLife },
    setup() {
        const appState = ref(null) as Ref<StateValue>;

        gameOfLifeService.onTransition((state) => {
            appState.value = state.value;
        });

        return {
            appState,
        };
    },
});
</script>

<style lang="scss" scoped>
.container {
    height: 100vh;
}
</style>
