<template>
    <div class="login">
        <h2 class="login__welcome">Welcome to Conway's Game of Life</h2>
        <b-form class="login__form" @submit="handleSubmit">
            <b-form-group id="username" label-for="username-input">
                <b-form-input id="username-input" v-model="form.username" required placeholder="Enter username" />
            </b-form-group>
            <b-form-group id="password" label-for="password-input">
                <b-form-input
                    id="password-input"
                    type="password"
                    v-model="form.password"
                    required
                    placeholder="Spill the beans here"
                />
            </b-form-group>
            <b-button type="submit" variant="primary">Login</b-button>
        </b-form>
    </div>
</template>

<script lang="ts">
import { defineComponent, reactive, onBeforeMount } from '@vue/composition-api';

import { gameOfLifeService } from './../../x-state/service';
import { serverEndpoint } from './../../appConfig';

export default defineComponent({
    name: 'Login',
    setup(_, { root }) {
        const form = reactive({ username: '', password: '' });

        const handleSubmit = (event) => {
            event.preventDefault();

            fetch(`${serverEndpoint}/api/v1/auth/jwt`, {
                method: 'POST',
                mode: 'cors', // FIXME: set valid origin
                body: JSON.stringify({
                    username: form.username,
                    password: form.password,
                }),
            })
                .then((res) => {
                    if (res.status === 200) {
                        return res.json();
                    }
                })
                .then((data) => {
                    gameOfLifeService.send('SUCCESFUL_LOGIN', { jwt: data.jwt });
                })
                .catch((err) => {
                    root.$bvToast.toast("Can't play without valid credentials..", {
                        title: 'Ouch..',
                        variant: 'warning',
                        solid: true,
                    });

                    console.error(err);
                });
        };

        onBeforeMount(() => {
            if (gameOfLifeService.state.context.jwt) gameOfLifeService.send('SUCCESFUL_LOGIN');
        });

        return {
            form,
            handleSubmit,
        };
    },
});
</script>

<style lang="scss" scoped>
.login {
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__welcome {
        margin-bottom: 2rem;
    }

    &__form {
        display: flex;
        align-self: center;
        width: 20rem;
        flex-direction: column;
    }
}
</style>
