<template>
    <div class="setup">
        <b-button class="btn" @click="handleStartGame">Start Game of Life</b-button>
        <b-button class="btn" @click="() => setPreset('GOSPER')">Gosper Glider Gun</b-button>
        <GridConfigurator :cols="50" :rows="50" @newGameSetup="handleNewGameSetup" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { defineComponent, reactive } from '@vue/composition-api';
import { gameOfLifeService } from '../../x-state/service';
import GridConfigurator from './../../features/grid/GridConfigurator.vue';
import { serverEndpoint } from './../../appConfig';
import { Preset } from './presets/type';

export default defineComponent({
    name: 'Setup',
    components: { GridConfigurator },
    setup() {
        const gameSetup = reactive({ Values: [], Cols: 0, Rows: 0 });

        const handleNewGameSetup = (payload: { values: boolean[]; cols: number; rows: number }) => {
            gameSetup.Values = payload.values;
            gameSetup.Cols = payload.cols;
            gameSetup.Rows = payload.rows;
        };

        const handleStartGame = () => {
            // window.GAME_SETUP = { ...gameSetup }; FIXME: to save

            gameOfLifeService.send('SETUP_COMPLETE', {
                grid: gameSetup,
            });
        };

        const setPreset = (presetName: 'GOSPER') => {
            const getGosper = (): Promise<{ default: Preset }> => import('./presets/gosper');

            const presets = { GOSPER: getGosper };

            presets[presetName]().then((preset) => {
                const { Values, Cols, Rows } = preset.default;

                gameOfLifeService.send('SETUP_COMPLETE', {
                    grid: { Values, Cols, Rows },
                });
            });
        };

        return {
            handleStartGame,
            handleNewGameSetup,
            setPreset,
        };
    },
});
</script>

<style lang="scss" scoped>
.setup {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn {
        margin: 10px;
    }
}
</style>
