<template>
    <div class="grid-cell grid__col" :style="{ background: `${isAlive ? 'black' : 'white'}` }" @click="handleClick" />
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
    name: 'Cell',
    props: {
        isAlive: { type: Boolean, required: true },
        coordinates: { type: Object, required: false },
    },
    setup(props: { isAlive: boolean; coordinates: { x: number; y: number } }, { emit }) {
        const handleClick = () => {
            emit('toggleAlive', props.coordinates);
        };

        return { handleClick };
    },
});
</script>
