<template>
    <div>
        <div class="grid">
            <div class="grid__row" v-for="(row, rowIndex) in rows" :key="`row ${rowIndex}`">
                <Cell
                    v-for="(col, colIndex) in cols"
                    :isAlive="values[row - 1 + (col - 1) * cols]"
                    :key="`key ${rowIndex}${colIndex}`"
                />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed, reactive, watch } from '@vue/composition-api';
import Cell from './Cell.vue';

export default defineComponent({
    name: 'GridRenderer',
    components: { Cell },
    props: {
        values: { type: Array, default: () => [] },
        cols: { type: Number, default: 0 },
        rows: { type: Number, default: 0 },
    },
    setup(props, { emit }) {
        return {};
    },
});
</script>

<style lang="scss">
.grid {
    display: flex;
    width: '80%';
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    border: 1px solid black;

    &__row {
        display: flex;
        flex-direction: row;
        height: 10%;
    }

    &__col {
        width: 10%;
        height: 100%;
    }
}
</style>
