<template>
    <div>
        <div v-if="grid && grid.length" class="grid">
            <div class="grid__row" v-for="(row, rowIndex) in grid" :key="`row ${rowIndex}`">
                <Cell
                    v-for="(col, colIndex) in row"
                    :isAlive="col.value"
                    :coordinates="{ x: colIndex, y: rowIndex }"
                    @toggleAlive="handleUpdateGrid"
                    :key="`key ${rowIndex}${colIndex}`"
                />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed, reactive } from '@vue/composition-api';
import Cell from './Cell.vue';

export default defineComponent({
    name: 'GridConfigurator',
    components: { Cell },
    props: {
        values: { type: Array, default: () => [] },
        cols: { type: Number, default: 0 },
        rows: { type: Number, default: 0 },
    },
    setup(
        props: {
            values: boolean[];
            cols: number;
            rows: number;
        },
        { emit },
    ) {
        const writeOnlyGrid = reactive([]);

        for (let r = 0; r < props.rows; r++) {
            writeOnlyGrid[r] = reactive([]);

            for (let c = 0; c < props.cols; c++) {
                writeOnlyGrid[r].push(ref(false));
            }
        }

        const emitGameSetup = () => {
            const emptyGrid = [];

            const flattened = writeOnlyGrid.reduce((acc, currentRow, rowIndex) => {
                // for every row update the column needs to be 'colored' in
                const result = acc;

                for (let colIndex = 0; colIndex < currentRow.length; colIndex++) {
                    result[colIndex * props.cols + rowIndex] = currentRow[colIndex].value;
                }

                return result;
            }, emptyGrid);

            emit('newGameSetup', {
                values: flattened,
                cols: props.cols,
                rows: props.rows,
            });
        };

        const handleUpdateGrid = (cellCoordinates) => {
            const { x, y } = cellCoordinates;

            writeOnlyGrid[y][x].value = !writeOnlyGrid[y][x].value;

            emitGameSetup();
        };

        return {
            grid: writeOnlyGrid,
            handleUpdateGrid,
        };
    },
});
</script>

<style lang="scss">
.grid {
    display: flex;
    width: '80%';
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    border: 1px solid black;

    &__row {
        display: flex;
        flex-direction: row;
        height: 10%;
        border: 0.5px solid black;
    }

    &__col {
        width: 10%;
        height: 100%;
        border: 0.5px solid black;
    }
}
</style>
