<template>
    <div class="game-of-life">
        <b-navbar class="game-of-life__navbar" toggleable type="dark" variant="dark">
            <b-navbar-brand href="#">NavBar</b-navbar-brand>

            <b-navbar-toggle target="navbar-toggle-collapse">
                <template v-slot:default="{ expanded }">
                    <b-icon v-if="expanded" icon="chevron-bar-up"></b-icon>
                    <b-icon v-else icon="chevron-bar-down"></b-icon>
                </template>
            </b-navbar-toggle>

            <b-collapse id="navbar-toggle-collapse" is-nav>
                <b-navbar-nav class="ml-auto">
                    <b-nav-item @click="navigation.goToSetup" href="#">Setup</b-nav-item>
                    <b-nav-item @click="navigation.logOut" href="#">Logout</b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>

        <GridRenderer :values="values" :cols="cols" :rows="rows" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { defineComponent, onMounted, onBeforeUnmount, ref, reactive, toRefs } from '@vue/composition-api';
import { webSocket, WebSocketSubjectConfig } from 'rxjs/webSocket';
import { switchMap } from 'rxjs/operators';
import { interval, from } from 'rxjs';

import { gameOfLifeService } from '../../x-state/service';
import GridRenderer from './../../features/grid/GridRenderer.vue';

export default defineComponent({
    name: 'GameOfLife',
    components: { GridRenderer },
    setup() {
        const navigation = {
            goToSetup: () => {
                gameOfLifeService.send('EXIT_GAME');
            },
            logOut: () => {
                gameOfLifeService.send('LOG_OUT');
            },
        };

        const gridState = reactive({ values: [], rows: 0, cols: 0 });

        const gol$ = from(gameOfLifeService).subscribe((state) => {
            const { Values, Cols, Rows } = state.context.gameParams;

            gridState.values = Values;
            gridState.cols = Cols;
            gridState.rows = Rows;
        });

        onMounted(() => {
            gameOfLifeService.send('START_GAME');
        });

        onBeforeUnmount(() => {
            gameOfLifeService.send('CLEAR_GAME');
        });

        return {
            navigation,
            ...toRefs(gridState),
        };
    },
});
</script>

<style lang="scss" scoped>
.game-of-life {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__heart-beat {
        margin: 20px 0px;
    }
}
</style>
